# Dependencias
node_modules/
.vscode/
backup-files/

# Variables de entorno
.env
.env.* 

package-lock.json


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
backup-files/



.claude/
e

.vscode/settings.json